.ottilia-erfarenhet {
    width: 100%;
    min-height: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 90%;
}

.container-jobb {
    background-color: colors.$secondary;
    padding: 2rem;
    min-height: 45rem;
    max-width: 32rem;
    width: 100%;

    >ul {
        list-style-type: none;
    }
}

.container-utbildning {
    background-color: colors.$secondary;
    padding: 2rem;
    min-height: 45rem;
    max-width: 32rem;
    width: 100%;
    margin-bottom: 2rem;

    >ul {
        list-style-type: none;
    }
}

.container-programvaror {
    background-color: colors.$secondary;
    padding: 2rem;
    min-height: 45rem;
    max-width: 34rem;
    width: 100%;

    >ul {
        list-style-type: none;
    }
}

.container-rubrik {
    display: flex;
    justify-content: center;
}

.erfarenhet-company {
    font-family: fonts.$main;
    font-size: 1.2rem;
    color: colors.$white;
    list-style-type: none;
}

.erfarenhet-info {
    font-family: fonts.$secondary;
    font-size: 1rem;
    color: colors.$white;
    padding-top: 0.2rem;
}

.rubrik {
    font-family: fonts.$main;
    font-style: normal;
    font-weight: 600;
    font-size: 2.1rem;
    line-height: 4.5rem;
    letter-spacing: 0.05em;
    color: colors.$white;
}

.rubrik-2 {
    font-weight: normal;
}

@media only screen and (max-width: 1230px) {

    .content-container {
        display: flex;
        flex-direction:column;
    }
    .container-programvaror  {
        margin: 1rem;
        max-width: 90%;
        width: 100%;
    }

    .container-jobb  {
        margin: 1rem;
        max-width: 90%;
        width: 100%;
    }

    .container-utbildning  {
        margin: 1rem;
        max-width: 90%;
        width: 100%;
    }

    .container-info {
        display: flex;
    }

    .container-break {
        width: 31%;
        height: 100%;
    }
    .container-break2 {
        width: 35%;
        height: 100%;
    }

    .erfarenhet-company {
        font-size: 2.2rem;
    }
    
    .erfarenhet-info {
        font-size: 1.8rem;
    }
}

@media only screen and (max-width: 550px) {

    .content-container {
        display: flex;
        flex-direction:column;
    }
    .container-programvaror  {
        margin: 1rem;
        max-width: 90%;
        width: 100%;
    }

    .container-jobb  {
        margin: 1rem;
        max-width: 90%;
        width: 100%;
    }

    .container-utbildning  {
        margin: 1rem;
        max-width: 90%;
        width: 100%;
    }

    .container-info {
        max-width: 60%;
    }

    .erfarenhet-company {
        font-size: 1.2rem;
    }
    
    .erfarenhet-info {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 410px) {
    .rubrik {
        font-size: 1.8rem;
    }

    .rubrik-2 {
        font-size: 1.8rem;
    }
}

@media only screen and (max-width: 355px) {
    .rubrik {
        font-size: 1.6rem;
    }

    .rubrik-2 {
        font-size: 1.6rem;
    }

}