body {
    margin:0;
    padding:0;
    width: 100%;
}

.about {
    background: colors.$main;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
    margin: 0;
    padding:0;
    display: flex;
    padding: 0rem 0rem 0rem 5rem;
    flex-wrap:wrap;

    >a {
        display: inline-block;
        max-width: 20%;
        transform:rotate(-4deg);
        margin-left: auto;
        margin-bottom: 6rem;
    }
}

.wrapper-about {
    display: flex;
    justify-content: space-evenly;
    align-items:center;
}

.about-text {
    max-width: 30%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.about-top {
    max-width: 65%;
}

.portrait {
    width: 45%;
    margin-top: 1rem;
}

.about-name {
    font-family: fonts.$main;
    font-style: normal;
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 4.5rem;
    letter-spacing: 0.05em;
    color: colors.$white;
}

.about-lastname {
    font-weight: normal;
}

h5 {
    font-family: fonts.$main;
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 3rem;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    color: #F1F1F1;
}

p {
    font-family: fonts.$secondary;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 2.3rem;
    color: colors.$white;
}


.btn-om {
    max-width: 90%;
    margin-bottom: -1rem;
    
    &:hover {
        opacity: 0.5;
    }
}


.h5-om {
    font-family: fonts.$main;
    font-style: normal;
    font-weight: normal;
    font-size: 3rem;
    line-height: 4.5rem;
    letter-spacing: 0.05em;
    color: colors.$white;
    width: 100%;
    height:100%;
}

.erfarenhet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.wrapper-erfarenhet {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    min-height: 40rem;
    height: 100%;
}

.wrapper-jobb {
    background-color: #b34a00;
    padding: 5rem 2rem 2rem 4rem;
    width: 40%;
    min-height: 40rem;
    height: 100%;
    display: flex;
    flex-direction:column;
    align-items: center;
}

.wrapper-utbildning {
    background-color: #b34a00;
    padding: 5rem 2rem 2rem 4rem;
    width: 40%;
    min-height: 40rem;
    height: 100%;
    display: flex;
    flex-direction:column;
    align-items: center;
}

.wrapper-flex-jobb {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 90%;
    height: 100%;
}

.wrapper-etaler {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items:flex-start;
    width: 100%;

    &__1 {
        padding: 1rem;
        width: 35%;
    }

    &__2 {
        padding: 1rem;
    }

}

.wrapper-selected {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items:flex-start;
    width: 100%;

    &__1 {
        padding: 1rem;
        width: 35%;
    }

    &__2 {
        padding: 1rem;
    }
}

.wrapper-flex-utbildning {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 95%;
    height: 100%;
}

.wrapper-sundsgarden {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items:flex-start;
    width: 100%;

    &__1 {
        padding: 1rem;
        width: 25%;
    }

    &__2 {
        padding: 1rem;
        margin-left: 1rem;
    }
}

.wrapper-marknad {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items:flex-start;
    width: 100%;

    &__1 {
        padding: 1rem;
        width: 25%;
    }

    &__2 {
        padding: 1rem;
        margin-left: 1rem;
    }

}

.years {
    font-family: fonts.$main;
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2.5rem;
    letter-spacing: 0.1em;
    color: colors.$white;
}

.company {
    font-family: fonts.$main;
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.5rem;
    letter-spacing: 0.15em;
    color: colors.$white;
}

.titel {
    font-family: fonts.$secondary;
    font-style: normal;
    font-weight: normal;
    font-size: 1.2rem;
    line-height: 2rem;
    letter-spacing: 0.30em;
    color: colors.$white;
    margin-top: -2rem;
}


.erfarenhet-btn {
    width: 40rem;
    height: 10rem;
    background: colors.$secondary;
    border: none;
    margin-top: -3rem;
    font-family: fonts.$main;
    font-style: normal;
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 3rem;
    text-align: center;
    letter-spacing: 0.20em;
    color: colors.$white;

    &:hover {
        background-color: colors.$white;
        color: colors.$main;
    }
}

.portfolio {
    margin: 0;
    padding:0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem;
    flex-wrap:wrap;
}

.portfolio-content {
    max-width: 30%;
    width: 100%;
    margin: 1rem;
}

.wrapper-portfolio {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
}

.portfolio-heading {
    display: flex;
    justify-content: center;
}

.image {
    background-color: colors.$white;
    width:30rem;
    height: 35rem;
}


.button-portfolio {
    display: flex;
    justify-content: center;
}

.portfolio-btn {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    border: none;
    background: colors.$main;
    font-family: fonts.$main;
    font-style: normal;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 3rem;
    text-align: center;
    letter-spacing: 0.20em;
    color: colors.$white;
    margin-bottom: 2rem;

    &:hover {
        background-color: colors.$secondary;
    }
}

@media only screen and (max-width: 850px) {
    .erfarenhet {
        display: block;
    }

    .wrapper-erfarenhet {
        display: flex;
        flex-direction: row;
    }

    .wrapper-jobb, .wrapper-utbildning {
        width: 100%;
        margin: 1rem;
    }

    .button-erfarenhet {
        display: flex;
        justify-content: center;
    }

    .erfarenhet-btn {
        margin:1rem;
    }

    .wrapper-portfolio {
        display: flex;
        flex-direction: column;
    }

    .portfolio-content {
        max-width: 100%;
    }
}

@media only screen and (max-width: 800px) {
    .about {
        min-height: 130rem;
        height: 100%;

        >a{
        max-width: 40%;
        transform:rotate(-9.6deg);
        margin-left: auto;
        margin-bottom: 5rem;

        }
    }
    
    .wrapper-about {
        flex-direction:column;
    }

    .portrait {
        min-width: 90%;
    }

    .about-text {
        min-width: 90%;
    }
}

@media only screen and (max-width: 740px) {
    .about {
        min-height: 120rem;
        height: 100%;

        >a{
        margin-bottom: 6.5rem;
        }
    }
}

@media only screen and (max-width: 650px) {
    .about {
        min-height: 115rem;
        height: 100%;

        >a{
        margin-bottom: 5rem;
        }
    }
}

@media only screen and (max-width: 570px) {
    .about {
        min-height: 105rem;
        height: 100%;
    }
}

@media only screen and (max-width: 470px) {
    .about {
        min-height: 90rem;
        height: 100%;

        >a{
        margin-bottom: 8rem;
        }
    }

    .wrapper-jobb, .wrapper-utbildning {
        padding:0rem;
        height: 25rem;
    }

    .years {
        font-size: 1rem;
        letter-spacing: 0.05em;
    }

    .company {
        font-size: 1rem;
        letter-spacing: 0.05em;
    }

    .titel {
        font-size: 1rem;
        letter-spacing: 0.05em;
    }

    .about-name {
        margin-left: 1rem;
    }
}

@media only screen and (max-width: 350px) {
    .about a{
        margin-bottom: 7.5rem;
        transform:rotate(-16deg);
        min-width: 60%;
    }

    .erfarenhet-btn {
        width:27rem;
        height: 7rem;
        font-size: 1.4rem;
    }

    .portfolio {
        padding: 0;
    }

    .about {
        padding: 0;
    }

    .erfarenhet {
        padding: 0;
    }

    .wrapper-jobb {
        padding: 0;
    }

    .wrapper-utbildning {
        padding: 0;
    }

    .wrapper-flex-utbildning{
        width: 90%;
    }

    .about-name, .about-lastname {
        font-size: 1.8rem;
    }

    .years, .company, .titel {
        font-size: 0.9rem;
        letter-spacing: 0.05em;
    }

    .wrapper-jobb, .wrapper-utbildning {
        min-height: 25rem;
    }

}