:root {
  font-size: 62.5%;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  margin: 0;
  padding: 0;
}

.brand-title {
  display: flex;
  align-items: center;
  min-width: 30%;
}

.nav-name {
  margin-left: 10%;
}
.nav-name > a {
  text-decoration: none;
}

.header-name {
  font-family: "Prompt", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 4.5rem;
  letter-spacing: 0.05em;
  color: #CC5500;
}

.lastname {
  font-weight: normal;
}

.header-logo {
  margin-left: 10%;
  padding: 2%;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  padding: 3rem;
  display: block;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.9rem;
  color: #CC5500;
}

.navbar-links li a:hover {
  background-color: #803500;
  color: #f1f1f1;
}

.navbar-links li a:active {
  color: #CC5500;
}

.toggle-button {
  position: absolute;
  top: 3rem;
  right: 2rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 3rem;
  height: 2.1rem;
}

.toggle-button .bar {
  height: 0.3rem;
  width: 100%;
  background-color: #CC5500;
  border-radius: 1rem;
}

@media (max-width: 993px) {
  .brand-title {
    min-width: 40%;
  }
}
@media (max-width: 830px) {
  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links li {
    text-align: center;
  }

  .navbar-links li a {
    padding: 0.5rem 1rem;
  }

  .navbar-links li a:hover {
    background-color: #803500;
    color: #f1f1f1;
  }

  .navbar-links.active {
    display: flex;
  }

  .brand-title {
    min-width: 90%;
  }
}
@media (max-width: 430px) {
  .header-name {
    font-size: 1.8rem;
  }
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

.about {
  background: #CC5500;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
  margin: 0;
  padding: 0;
  display: flex;
  padding: 0rem 0rem 0rem 5rem;
  flex-wrap: wrap;
}
.about > a {
  display: inline-block;
  max-width: 20%;
  transform: rotate(-4deg);
  margin-left: auto;
  margin-bottom: 6rem;
}

.wrapper-about {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.about-text {
  max-width: 30%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.about-top {
  max-width: 65%;
}

.portrait {
  width: 45%;
  margin-top: 1rem;
}

.about-name {
  font-family: "Prompt", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 4.5rem;
  letter-spacing: 0.05em;
  color: #f1f1f1;
}

.about-lastname {
  font-weight: normal;
}

h5 {
  font-family: "Prompt", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 3rem;
  display: flex;
  align-items: center;
  letter-spacing: 0.1em;
  color: #F1F1F1;
}

p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 2.3rem;
  color: #f1f1f1;
}

.btn-om {
  max-width: 90%;
  margin-bottom: -1rem;
}
.btn-om:hover {
  opacity: 0.5;
}

.h5-om {
  font-family: "Prompt", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 3rem;
  line-height: 4.5rem;
  letter-spacing: 0.05em;
  color: #f1f1f1;
  width: 100%;
  height: 100%;
}

.erfarenhet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.wrapper-erfarenhet {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  min-height: 40rem;
  height: 100%;
}

.wrapper-jobb {
  background-color: #b34a00;
  padding: 5rem 2rem 2rem 4rem;
  width: 40%;
  min-height: 40rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper-utbildning {
  background-color: #b34a00;
  padding: 5rem 2rem 2rem 4rem;
  width: 40%;
  min-height: 40rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper-flex-jobb {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 90%;
  height: 100%;
}

.wrapper-etaler {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}
.wrapper-etaler__1 {
  padding: 1rem;
  width: 35%;
}
.wrapper-etaler__2 {
  padding: 1rem;
}

.wrapper-selected {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}
.wrapper-selected__1 {
  padding: 1rem;
  width: 35%;
}
.wrapper-selected__2 {
  padding: 1rem;
}

.wrapper-flex-utbildning {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 95%;
  height: 100%;
}

.wrapper-sundsgarden {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}
.wrapper-sundsgarden__1 {
  padding: 1rem;
  width: 25%;
}
.wrapper-sundsgarden__2 {
  padding: 1rem;
  margin-left: 1rem;
}

.wrapper-marknad {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}
.wrapper-marknad__1 {
  padding: 1rem;
  width: 25%;
}
.wrapper-marknad__2 {
  padding: 1rem;
  margin-left: 1rem;
}

.years {
  font-family: "Prompt", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.1em;
  color: #f1f1f1;
}

.company {
  font-family: "Prompt", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.5rem;
  letter-spacing: 0.15em;
  color: #f1f1f1;
}

.titel {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 2rem;
  letter-spacing: 0.3em;
  color: #f1f1f1;
  margin-top: -2rem;
}

.erfarenhet-btn {
  width: 40rem;
  height: 10rem;
  background: #803500;
  border: none;
  margin-top: -3rem;
  font-family: "Prompt", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.8rem;
  line-height: 3rem;
  text-align: center;
  letter-spacing: 0.2em;
  color: #f1f1f1;
}
.erfarenhet-btn:hover {
  background-color: #f1f1f1;
  color: #CC5500;
}

.portfolio {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem;
  flex-wrap: wrap;
}

.portfolio-content {
  max-width: 30%;
  width: 100%;
  margin: 1rem;
}

.wrapper-portfolio {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
}

.portfolio-heading {
  display: flex;
  justify-content: center;
}

.image {
  background-color: #f1f1f1;
  width: 30rem;
  height: 35rem;
}

.button-portfolio {
  display: flex;
  justify-content: center;
}

.portfolio-btn {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  border: none;
  background: #CC5500;
  font-family: "Prompt", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 3rem;
  text-align: center;
  letter-spacing: 0.2em;
  color: #f1f1f1;
  margin-bottom: 2rem;
}
.portfolio-btn:hover {
  background-color: #803500;
}

@media only screen and (max-width: 850px) {
  .erfarenhet {
    display: block;
  }

  .wrapper-erfarenhet {
    display: flex;
    flex-direction: row;
  }

  .wrapper-jobb, .wrapper-utbildning {
    width: 100%;
    margin: 1rem;
  }

  .button-erfarenhet {
    display: flex;
    justify-content: center;
  }

  .erfarenhet-btn {
    margin: 1rem;
  }

  .wrapper-portfolio {
    display: flex;
    flex-direction: column;
  }

  .portfolio-content {
    max-width: 100%;
  }
}
@media only screen and (max-width: 800px) {
  .about {
    min-height: 130rem;
    height: 100%;
  }
  .about > a {
    max-width: 40%;
    transform: rotate(-9.6deg);
    margin-left: auto;
    margin-bottom: 5rem;
  }

  .wrapper-about {
    flex-direction: column;
  }

  .portrait {
    min-width: 90%;
  }

  .about-text {
    min-width: 90%;
  }
}
@media only screen and (max-width: 740px) {
  .about {
    min-height: 120rem;
    height: 100%;
  }
  .about > a {
    margin-bottom: 6.5rem;
  }
}
@media only screen and (max-width: 650px) {
  .about {
    min-height: 115rem;
    height: 100%;
  }
  .about > a {
    margin-bottom: 5rem;
  }
}
@media only screen and (max-width: 570px) {
  .about {
    min-height: 105rem;
    height: 100%;
  }
}
@media only screen and (max-width: 470px) {
  .about {
    min-height: 90rem;
    height: 100%;
  }
  .about > a {
    margin-bottom: 8rem;
  }

  .wrapper-jobb, .wrapper-utbildning {
    padding: 0rem;
    height: 25rem;
  }

  .years {
    font-size: 1rem;
    letter-spacing: 0.05em;
  }

  .company {
    font-size: 1rem;
    letter-spacing: 0.05em;
  }

  .titel {
    font-size: 1rem;
    letter-spacing: 0.05em;
  }

  .about-name {
    margin-left: 1rem;
  }
}
@media only screen and (max-width: 350px) {
  .about a {
    margin-bottom: 7.5rem;
    transform: rotate(-16deg);
    min-width: 60%;
  }

  .erfarenhet-btn {
    width: 27rem;
    height: 7rem;
    font-size: 1.4rem;
  }

  .portfolio {
    padding: 0;
  }

  .about {
    padding: 0;
  }

  .erfarenhet {
    padding: 0;
  }

  .wrapper-jobb {
    padding: 0;
  }

  .wrapper-utbildning {
    padding: 0;
  }

  .wrapper-flex-utbildning {
    width: 90%;
  }

  .about-name, .about-lastname {
    font-size: 1.8rem;
  }

  .years, .company, .titel {
    font-size: 0.9rem;
    letter-spacing: 0.05em;
  }

  .wrapper-jobb, .wrapper-utbildning {
    min-height: 25rem;
  }
}
.om-ottilia {
  background-color: #CC5500;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.half-circle-image {
  max-width: 40%;
  padding: 1rem 1rem 1rem 0rem;
}

.ottilia-om {
  width: 100%;
}

.wrapper-om {
  max-width: 40%;
  padding: 2rem;
  margin-right: 2rem;
}

@media only screen and (max-width: 650px) {
  .om-ottilia {
    display: flex;
    flex-direction: column;
  }

  .half-circle-image {
    min-width: 100%;
  }

  .wrapper-om {
    min-width: 80%;
  }

  .about-top {
    min-width: 100%;
  }
}
.ottilia-erfarenhet {
  width: 100%;
  min-height: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 90%;
}

.container-jobb {
  background-color: #803500;
  padding: 2rem;
  min-height: 45rem;
  max-width: 32rem;
  width: 100%;
}
.container-jobb > ul {
  list-style-type: none;
}

.container-utbildning {
  background-color: #803500;
  padding: 2rem;
  min-height: 45rem;
  max-width: 32rem;
  width: 100%;
  margin-bottom: 2rem;
}
.container-utbildning > ul {
  list-style-type: none;
}

.container-programvaror {
  background-color: #803500;
  padding: 2rem;
  min-height: 45rem;
  max-width: 34rem;
  width: 100%;
}
.container-programvaror > ul {
  list-style-type: none;
}

.container-rubrik {
  display: flex;
  justify-content: center;
}

.erfarenhet-company {
  font-family: "Prompt", sans-serif;
  font-size: 1.2rem;
  color: #f1f1f1;
  list-style-type: none;
}

.erfarenhet-info {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: #f1f1f1;
  padding-top: 0.2rem;
}

.rubrik {
  font-family: "Prompt", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 2.1rem;
  line-height: 4.5rem;
  letter-spacing: 0.05em;
  color: #f1f1f1;
}

.rubrik-2 {
  font-weight: normal;
}

@media only screen and (max-width: 1230px) {
  .content-container {
    display: flex;
    flex-direction: column;
  }

  .container-programvaror {
    margin: 1rem;
    max-width: 90%;
    width: 100%;
  }

  .container-jobb {
    margin: 1rem;
    max-width: 90%;
    width: 100%;
  }

  .container-utbildning {
    margin: 1rem;
    max-width: 90%;
    width: 100%;
  }

  .container-info {
    display: flex;
  }

  .container-break {
    width: 31%;
    height: 100%;
  }

  .container-break2 {
    width: 35%;
    height: 100%;
  }

  .erfarenhet-company {
    font-size: 2.2rem;
  }

  .erfarenhet-info {
    font-size: 1.8rem;
  }
}
@media only screen and (max-width: 550px) {
  .content-container {
    display: flex;
    flex-direction: column;
  }

  .container-programvaror {
    margin: 1rem;
    max-width: 90%;
    width: 100%;
  }

  .container-jobb {
    margin: 1rem;
    max-width: 90%;
    width: 100%;
  }

  .container-utbildning {
    margin: 1rem;
    max-width: 90%;
    width: 100%;
  }

  .container-info {
    max-width: 60%;
  }

  .erfarenhet-company {
    font-size: 1.2rem;
  }

  .erfarenhet-info {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 410px) {
  .rubrik {
    font-size: 1.8rem;
  }

  .rubrik-2 {
    font-size: 1.8rem;
  }
}
@media only screen and (max-width: 355px) {
  .rubrik {
    font-size: 1.6rem;
  }

  .rubrik-2 {
    font-size: 1.6rem;
  }
}
.ottilia-portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.border {
  width: 100%;
  height: 0.5rem;
  background-color: #CC5500;
}

.text-portfolio {
  font-size: 1rem;
  color: #803500;
}

.rubrik-portfolio {
  font-family: "Prompt", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 4.5rem;
  letter-spacing: 0.05em;
  color: #CC5500;
}

.rubrik-portfolio2 {
  font-weight: normal;
}

.heading {
  font-family: "Prompt", sans-serif;
  font-size: 2rem;
  letter-spacing: 0.5rem;
  color: #f1f1f1;
}

.content {
  max-width: 20%;
  width: 100%;
  margin: 1rem;
}

.container_portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 3rem;
}

.images {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.portfolio-titel {
  max-height: 4rem;
  height: 100%;
}

.company-titel {
  color: #803500;
}

.glasbruk-image {
  width: 100%;
}

.portfolio-info {
  padding: 2rem;
  min-height: 20rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.btn-portfolio {
  background-color: #CC5500;
  border: 1px solid #f1f1f1;
  border-radius: 0.5rem;
  width: 20rem;
  height: 3rem;
  font-family: "Prompt", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 3rem;
  text-align: center;
  color: #f1f1f1;
  cursor: pointer;
}
.btn-portfolio:hover {
  opacity: 0.5;
}

@media only screen and (max-width: 900px) {
  .images {
    display: flex;
    flex-direction: column;
  }

  .content {
    max-width: 130rem;
    width: 100%;
    margin: 1rem;
  }

  .portfolio-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}
@media only screen and (max-width: 350px) {
  .rubrik-portfolio {
    font-size: 1.5rem;
  }

  .rubrik-portfolio2 {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 40px) {
  .content {
    width: 90%;
    margin: 1rem;
  }
}
.kontakt {
  display: flex;
  flex-direction: column;
}

.wrapper-kontakt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 45rem;
}

.text-kontakt {
  color: #CC5500;
}

#linkedin {
  font-size: 10rem;
  color: #CC5500;
  margin-top: 2rem;
}
#linkedin:hover {
  opacity: 0.6;
}

.link-li {
  color: #803500;
  text-decoration: none;
}

footer {
  background-color: #803500;
  bottom: 0;
}

.footer-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 14.4rem;
  width: 100%;
}

.ol-footer {
  width: 13rem;
}

.footer-info {
  justify-self: start;
  width: 100%;
  margin-left: 2rem;
}

.footer-icons {
  justify-self: flex-end;
  width: 100%;
}

.logo-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.h5-footer {
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 2.5rem;
  color: #FFFFFF;
}

.footer-image {
  width: 20rem;
  padding: 1rem;
}

.p-footer {
  font-size: 1.2rem;
  line-height: 2.3rem;
  letter-spacing: 0.1rem;
}

.fa-linkedin {
  color: #f1f1f1;
  font-size: 2.4rem;
  margin-right: 2rem;
}
.fa-linkedin:hover {
  color: #CC5500;
}

.fa-github {
  color: #f1f1f1;
  font-size: 2.4rem;
}
.fa-github:hover {
  color: #CC5500;
}

@media screen and (max-width: 600px) {
  .footer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-info {
    display: flex;
    justify-content: center;
  }

  .footer-logo {
    display: flex;
    flex-direction: column;
  }

  .footer-logo {
    padding: 3.5%;
  }

  .footer-icons {
    width: 100%;
    max-width: 60%;
    padding: 2%;
  }
}

/*# sourceMappingURL=index.css.map */
